
*.exe
Enunciado.pdf
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/.suo
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/Browse.VC.db
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/Browse.VC.db-shm
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/Browse.VC.opendb
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/Browse.VC.db-wal
ISeeEuConquisto/.vs/ISeeEuConquisto/v16/ipch/AutoPCH/bbaa6dccaf8cf248/TERRITORIOS.ipch